@import "../../styles/common/variables";

.main {
  position: relative;
  background-color: $backgroundColor;
  
  @media screen and (max-width: $mobileEnd) {
    border-radius: 16px 16px 0px 0px;
  }
  @media screen and (min-width: $desktop) {
    z-index: 1;
  }
}

.main::after {
  @media screen and (min-width: $desktop)  {
  content: "";
  width: 2193px;
  height: 1330px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: -1;
  background: radial-gradient(42.93% 42.93% at 50% 50%, #2F4BC9 0%, #080808 100%);
  }
}
