@import "../../../styles/common/variables";

.form {
    @media screen and (min-width: $tablet) {
        max-width: 391px;
      }
}


.rateWrap {
    padding-bottom: 224px;

    @media screen and (min-width: $tablet) {
        padding-bottom: 62px;
      }
}