@import "../../../styles/common/variables";
@import "../../../styles/common/mixins";

.infoBlock,
.form {
font-family: 'Inter', sans-serif !important;
font-size: $bodyMobileFontsize !important;
line-height: 1.14 !important;

max-width: 200px !important;
padding: 8px 12px !important;

background-color: $whiteColor !important;
}

.form {
    max-width: 220px !important;

    @media screen and (min-width: $tablet) {
        max-width: inherit !important;
    }
}