@import "../../../styles/common/variables";
@import "../../../styles/common/mixins";

.infoBlock {
  display: grid;

  row-gap: 4px;
  column-gap: 5px;

  grid-template-areas:
    "count help"
    "title title";
  grid-template-columns: 1fr auto;
  grid-template-rows: auto;

  color: $whiteColor;

  @media screen and (min-width: $tablet) {
    column-gap: 8px;
    row-gap: 0;
  }

  @media screen and (min-width: $desktop) {
    column-gap: 0;

    grid-template-areas: "count title help";

    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
  }
}

.infoBlock__help {
  grid-area: help;
  position: relative;
  padding: 0;

  align-self: end;

  height: 11px;
  width: 11px;
  margin-bottom: 3px;

  border: none;
  background-color: transparent;
  cursor: pointer;

  @media screen and (min-width: $tablet) {
    width: 16px;
    height: 16px;
    margin-bottom: 9px;
  }

  @media screen and (min-width: $desktop) {
    width: 24px;
    height: 24px;
    margin-bottom: 5px;
  }
}

.infoBlock__help::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("../../../images/helpIconGrey.svg");
  width: 11px;
  height: 11px;
  background-repeat: no-repeat;
  background-size: cover;

  @media screen and (min-width: $tablet) {
    background-image: url("../../../images/helpIconWhite.svg");
    width: 16px;
    height: 16px;
  }

  @media screen and (min-width: $desktop) {
    width: 24px;
    height: 24px;
  }
}

.infoBlock__wrap {
  grid-area: count;

  display: flex;

  @media screen and (min-width: $desktop) {
    margin-right: 12px;
  }
}

.infoBlock__count {
  @include fontStyle(
    $infoCountMobileFontsize,
    $boldWeight,
    "normal",
    -0.0225rem
  );

  @media screen and (min-width: $tablet) {
    @include fontStyle($infoCountTabletFontsize, $boldWeight, 1.71);
  }

  @media screen and (min-width: $desktop) {
    @include fontStyle($infoCountDesktopFontsize, $boldWeight, 1.33);
  }
}

.infoBlock__stru {
  margin-left: 4px;
  @include fontStyle($infoMobileFontsize, $normalWeight, 1.66);
  text-transform: uppercase;
  align-self: self-end;

  @media screen and (min-width: $tablet) {
    margin-left: 8px;
    @include fontStyle($infoTabletFontsize, $normalWeight, 1.25);
    margin-bottom: 9px;
  }

  @media screen and (min-width: $desktop) {
    @include fontStyle($infoDesktopFontsize, $normalWeight, 2);
    margin-bottom: 0;
  }
}

.infoBlock__title {
  grid-area: title;

  @include fontStyle(
    $infoMobileFontsize,
    $normalWeight,
    "normal",
    $infoLetterSpacingMobile
  );
  white-space: nowrap;

  @media screen and (min-width: $tablet) {
    @include fontStyle(
      $infoTabletFontsize,
      $normalWeight,
      "normal",
      $infoLetterSpacingTablet
    );
  }

  @media screen and (min-width: $tablet) {
    align-self: end;
    margin-bottom: 5px;
    margin-right: 8px;
  }
}
