@import "../../../styles/common/variables";
@import "../../../styles/common/mixins";

.navigation {
  background-color: $backgroundColor;

  @media screen and (max-width: $mobileEnd) {
    padding-top: 16px;
    border-bottom: 1px solid $accentBlueColor;
    border-radius: 16px 16px 0px 0px;
  }

  @media screen and (min-width: $tablet) {
    padding-top: 40px;
  }
}

.navigation__list {
  width: 100%;

  display: flex;
  justify-content: space-between;

  @media screen and (min-width: $tablet) {
    justify-content: start;
  }
}

.navigation__link {
  display: inline-block;
  padding: 16px 0;
  text-decoration: none;

  color: $lightGreyColor;

transition: color $animation;

  &:hover {
    color: $whiteColor;
  }

  @media screen and (min-width: $tablet) {
    padding: 16px 32px;

    @include fontStyle($bodyTabletFontsize, $mediumWeight, 1.4);
  }
}

.navigation__linkActive {
  border-bottom: 6px solid $accentBlueColor;

  @media screen and (min-width: $tablet) {
      border-width: 8px;
  }
}
