@import "../../../styles/common/variables";
@import "../../../styles/common/mixins";

.rateContainer {
  display: inline-block;
  cursor: pointer;
}

.label,
.unitTitle {
  color: $secondLightGreyColor;
  font-family: "Roboto Mono", monospace;
  @include fontStyle(
    $bodyMobileFontsize,
    $normalWeight,
    "normal",
    $letterSpacingMobile
  );
  margin-right: 4px;

  @media screen and (min-width: $tablet) {
    @include fontStyle(
      $bodyTabletFontsize,
      $normalWeight,
      "normal",
      $letterSpacingTablet
    );
  }
}

.rateTitle,
.rateForm {
  color: $whiteColor;
  font-family: "Roboto Mono", monospace;
  @include fontStyle($subtitleMobileFontsize, $boldWeigh, 1.4, "normal");
  margin-right: 4px;

  @media screen and (min-width: $tablet) {
    font-size: 1.25rem;
  }
}

.unitTitle,
.unitForm {
  color: $whiteColor;
}

.unitTitle {
  font-size: 0.75rem;
  margin-right: 0;

  @media screen and (min-width: $tablet) {
    font-size: 1rem;
  }
}

.rateForm {
  font-size: 0.875rem;

  @media screen and (min-width: $tablet) {
    font-size: 1rem;
  }
}
