.container,
.additionalСontainer {
  margin-right: auto;
  margin-left: auto;

  padding-right: 24px;
  padding-left: 24px;

  @media screen and (min-width: $tablet) {
    min-width: 744px;
    padding-right: 48px;
    padding-left: 48px;
  }

  @media screen and (min-width: $desktop) {
    width: 1440px;
    padding-right: 120px;
    padding-left: 120px;
  }
}

.additionalСontainer {
  @media screen and (min-width: $desktop) {
    padding-right: 40px;
    padding-left: 40px;
  }
}