html {
  scroll-behavior: smooth;
  @include customScrollbar($accentBlueColor, $backgroundColor);
}



body {
  background-color: $backgroundColor;
//  @media screen and (max-width: $mobileEnd) {
//   background-image: url("/src/images/background_mob.jpg");
//   background-size: cover;
//   background-repeat: no-repeat;
//  }

}

h1,
h2,
h3,
h4,
p,
ul,
td,
tr {
  margin: 0;
  padding: 0;
  list-style: none;
}

img,
svg {
  display: block;
  height: auto;
}

a {
  text-decoration: none;
}
