.mainSection {
  padding-bottom: 20px;

  @media screen and (min-width: $tablet) {
    padding-bottom: 70px;
    margin-bottom: 30px;
  }
}

.mainSection__formWrap {
  padding-top: 29px;
  @media screen and (min-width: $tablet) {
    border: solid 1px $accentBlueColor;
    padding: 32px 24px;
  }
}
