@import "../../styles/common/variables";



.thumb {
    position: absolute;

    display: flex;
    align-items: center;
        justify-content: center;
        flex-direction: column;

    
    // padding: 8px 0;
  
    @media screen and (max-width: $mobileEnd) {
        
    //   min-width: 295px;
      // width: 100%;
      left: 50%;
      bottom: 0;
      bottom: 104px;
      transform: translate(-50%, 0);
    }
  
    @media screen and (min-width: $tablet) {
        align-items: self-start;
     
    //   // width: auto;
      right: 48px;
      bottom: 30px;
    //   bottom: 0;
    }
  
    @media screen and (min-width: $desktop) {
       right: 0px;
      
    }
  }