@import "../../../styles/common/variables";
@import "../../../styles/common/mixins";

.connectWallet,
.noConnectWallet,
.form__button {
  padding: 10px 23px 6px 23px;
  color: $whiteColor;
  background-color: $buttonColor;

  &:hover {
    background-color: $buttonHoverColor;
  }

  &:disabled {
    color: $lightGreyColor;
    cursor: not-allowed;
    scale: 1;
  }

  @media screen and (min-width: $tablet) {
    padding: 12px 40px;
  }
}

.form__button {
  width: 100%;
  padding: 12px 40px;

  @media screen and (min-width: $tablet) {
    width: auto;
  }
}

.form__buttonTextWrap {
  display: flex;
}

.noConnectWallet {
  width: 100%;
  
  @media screen and (min-width: $tablet) {
    width: auto;
  }
}

button.infoWallet {
  display: flex;
  color: $whiteColor;
  padding: 8px 0;
  // border-radius: 4px;

  font-family: "Kanit", sans-serif;
  @include fontStyle(12px, $mediumWeight, "normal", 0.0075rem);

  background-color: transparent;

  // &:hover {
  //   background-color: $darkGreyColor;
  // }

  @media screen and (min-width: $tablet) {
    padding: 8px 0;
    @include fontStyle(14px, 600, 1.14);
  }
}

.infoWalletWrap,
.connectWalletWrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

// button.infoWallet::before {
//   position: absolute;
//   top: 50%;
//   left: 0;
//   transform: translate(0, -50%);
//   content: "";
//   background-image: url("../../../images/ethLogo.svg");
//   background-repeat: no-repeat;
//   width: 24px;
//   height: 24px;
//   border-radius: 50%;

//   @media screen and (min-width: $tablet) {
//     width: 32px;
//     height: 32px;
//     // left: 32px;
//   }
// }

// button.infoWallet::after {
//   position: absolute;
//   top: 50%;
//   left: 0;
//   transform: translate(0, -50%);
//   content: "";
//   background-image: url("../../../images/ethLogo.svg");
//   background-repeat: no-repeat;
//   width: 24px;
//   height: 24px;
//   border-radius: 50%;

//   @media screen and (min-width: $tablet) {
//     width: 32px;
//     height: 32px;
//     // left: 32px;
//   }
// }


// .form__buttonTextWrap {
//   position: relative;
//   display: inline-block;
// }

// .form__buttonTextWrap::before {
//   content: "";
//   position: absolute;
//   width: 24px;
//   height: 1.5px;
//   top: 50%;
//   left: -35px;
//   background: $whiteColor;
// }
