@import "../../../styles/common/variables";
@import "../../../styles/common/mixins";

.connectWallet,
.noConnectWallet,
.form__button {
  padding: 10px 23px 6px 23px;
  color: $whiteColor;
  background-color: $buttonColor;

  &:hover {
    background-color: $buttonHoverColor;
  }

  @media screen and (min-width: $tablet) {
    padding: 12px 40px;
  }
}

.form__button,
.form__aditionalButton {
  width: 100%;
  padding: 12px 40px;

  @media screen and (min-width: $tablet) {
    width: auto;
  }
}

button.form__aditionalButton {
  background-color: transparent;
  color: $whiteColor;

  @media screen and (max-width: $mobileEnd) {
    display: none;
  }
}

.form__buttonTextWrap {
  display: flex;
  justify-content: center;
}

.noConnectWallet {
  width: 100%;

  @media screen and (min-width: $tablet) {
    width: auto;
  }
}

button.infoWallet {
  display: flex;
  color: $whiteColor;
  padding: 8px 0;

  font-family: "Kanit", sans-serif;
  @include fontStyle(0.75rem, $mediumWeight, "normal", 0.0075rem);

  background-color: transparent;

  @media screen and (min-width: $tablet) {
    padding: 8px 0;
    @include fontStyle(0.75rem, $semiboldWeight, 1.14);
  }
}

.infoWalletWrap,
.connectWalletWrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

