@import "../../styles/common/variables";
@import "../../styles/common/mixins";

.footer {
  margin-top: auto; //for footer to bottom

  font-family: $bodyFont;
  @include fontStyle(0.6875rem, $normalWeight, "normal", -0.01375rem);
  color: $lightGreyColor;

  border-top: 1px solid $accentBlueColor;

  @media screen and (min-width: $tablet) {
    @include fontStyle(0.875rem, $normalWeight, 1.4, -0.0175rem);
  }
  @media screen and (min-width: $desktop) {
    z-index: 2;
  }
}

.footer__wrap {
  display: flex;
  justify-content: space-between;
  padding: 8px 0 17px 0;

  @media screen and (min-width: $tablet) {
    padding: 16px 0;
  }

  @media screen and (min-width: $desktop) {
    padding: 16px 0 26px 0;
  }
}
