@import "../../../styles/common/variables";

.title {
  display: flex;
  justify-content: space-between;
}

.appForm {
  padding-bottom: 8px;
  margin-bottom: 24px;

  border-bottom: 1px solid $darkGreyColor;
}

.info {
  margin-bottom: 26px;
  @media screen and (min-width: $tablet) {
    margin-bottom: 18px;
  }

  @media screen and (min-width: $desktop) {
    margin-bottom: 16px;
  }

}